@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body {
    background-color: #f5f5f5;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

header img,
header nav {
    float: left;
}

nav ul li {
    display: inline-block;
    padding: 50px;
}

.social {
    padding: 25px;
    float: right;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hover {
    transition: 0.3;
    opacity: 1;
}

.hover:hover {
    transition: 0.3;
    opacity: 0.5;
}
.banner img{
    width: 100%;
    margin: 20px 0;
}
.texto{
    width: 47%;
    display: inline-block;
    float: left;
    text-align: justify;
    padding-right: 25px;
    line-height: 30px;
    font-size: 25px;
}
.sobre h2{
    font-weight: 900;
    text-align:center;
}
.sobre img{
    width: 50%;
    display: inline-block;
}
.servicos {
    background: #FFC905;
    padding: 70px 0;
    margin:50px 0 ;
}
.servico {
    display: inline-block;
    width: 31%;
    margin: 1%;
}
.servico img{
    border:2px solid #ffff;
    width: 100%;
}
.titulo,.servicos h2 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.servicos h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.depoimentos h2{
    color: #000;
}

.titulo,.servicos h2 {
    color: #fff;
    font-size:30px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;

}
.servicos h2{
font-size: 40px;
margin-bottom: 20px;
}
.depoimentos h2{
color: #000;
}
.item{
display:inline-block;
width:31%;
padding: 1%;
text-align: center;
font-weight: 900px;
margin-bottom: 20px;
}
.item img{
width: 100px;
float: left;
margin-right:15px
}
.item .cliente {
padding-top:45px;
margin-left:10px;

}
.item p {
margin-bottom: 20px;
line-height: 30px
}
.depoimentos {

    margin: 70px;
}
footer{
    background-color: #000000;
    color: #fff;
    padding: 50px;
}
.item h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
footer input {
    width: 250px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    color: white;
}
footer input[type="submit"]{
    border: 2px solid #fff;
    margin-top:20px;
}
footer ul li a{
color: #fff;
text-decoration: none;
padding: 20px;
}
footer ul li{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.social ul li a{
    color: #fff ;
}
.social ul li{
 background-color: #000;
 padding: 5px 10px;
 margin: 5px;
}
.mario img {
    text-align: left;
    width: 500px;
    height: 400px;
}.sobre{
    line-height: 30px;
    font-size: 20px;
}
.sobre img{
    line-height: 30px;
    font-size: 20px;
}
header {
    height: 145px;

}
.sidebar{
    width: 165px;
    border-left: 5px solid #FFC905;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 38px;
    float: left;
    clear: both;
}
.info {
    width: 950px;
    display: inline-block;
    text-align: justify;
}
.bgheader{
    /* background: url(../img/bgsobre.png) 50% 0 -112px / cover no-repeat fixed;*/
    background-image: url(../img/slider.jpg);
    position: relative;
    width: 100%;
    margin: 20px;
    height: 200px;
    background-repeat: no-repeat;
    background: url(../img/bgsobre.png);
}
textarea {
    HEIGHT: 60PX;
    BACKGROUND: #0000;
    BORDER: NONE;
    BORDER-BOTTOM: 2PX SOLID #fff;
    color: white;
}


.Picapal{
    /* background: url(../img/bgsobre.png) 50% 0 -112px / cover no-repeat fixed;*/
    background-image: url(../img/carros2.jpg);
    position: relative;
    width: 100%;
    margin: 20px;
    height: 200px;
    background-repeat: no-repeat;
    background: url(../img/carros2.jpg);
}